<form name="contact" method="POST" data-netlify="true" data-netlify-recaptcha="true">
    <p>
      <label>Your Name: <input type="text" name="name" /></label>   
    </p>
    <p>
      <label>Your Email: <input type="email" name="email" /></label>
    </p>
    <p>
      <label>Your Role: <select name="role[]" multiple>
        <option value="leader">Need Help</option>
        <option value="follower">Can Help</option>
      </select></label>
    </p>
    <p>
      <label>Message: <textarea name="message"></textarea></label>
    </p>
    <div data-netlify-recaptcha="true"></div>
    <p>
      <button type="submit">Send</button>
    </p>
  </form>