<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{page.title}}</title>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
  <script src="https://kit.fontawesome.com/91edf3382d.js" crossorigin="anonymous"></script>
  <script defer src="assets/js/wecare.js"></script>
  <link rel="stylesheet" href="../css/bulma-divider.min.css">

  <style>
    nav.navbar {
      height: 6rem !important;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
    }
  </style>
</head>

<body>
  <!-- START NAV -->
    {% include nav.html %}
  <!-- END NAV -->

  <!-- Image -->
  <section class="hero ">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <figure class="image is-16by9">
              <img src="../assets/images/corona-post.jpeg" alt="">
            </figure>
          </div>
        </div>
        <section class="section">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <div class="content is-medium">
                <h2 class="subtitle is-4">March 27, 2020</h2>
                <h1 class="title" id="corona">Couch Community Service v0.1</h1>
                <p>We have access to a lot of information and with the global nature of this crisis, we are increasingly becoming aware of our individual responsibility in the connected world — be it a pandemic or other imminent dangers like an environmental crisis.<a href="">Read More</a></p>
              </div>
            </div>
          </div>
        </section>
          <!-- newsletter -->
        <section class="section">
          <div class="columns">
            <div class="column is-10 is-offset-1">
              <div class="container has-text-centered is-fluid">
                <div class="hero is-light">
                  <div class="hero-body">
                    <h2 class="title is-4">Join The Mutual Aid Effort</h1>
                      <div class="column is-8 is-offset-2">
                          {% include helpform.html %}
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>

  <hr/>
  <section class="hero ">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <figure class="image is-1by1">
              <img src="../assets/images/carebox.png" alt="">
            </figure>
          </div>
        </div>
        <hr/>
        <section class="section">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <div class="content is-medium">
                <h2 class="subtitle is-4">June 17, 2019</h2>
                <h1 class="title" id="carebox">WeCare Community CareBoxes</h1>
                <p>As part of UCSF Mental Health Hackathon, we created a carebox which enables local community to engage citizens to solve problems related to mental health with more tactile and immediate physcial presence. <a href="https://medium.com/hackmentalhealth/cards-for-humanity-we-care-community-mental-health-careboxes-2adf3ce9541">Read More</a></p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>WeCare Community</strong>. 
        <br>Code by <a href="https://www.vitraag.com">Vaibhav Bhandari</a>.
      </p>
    </div>
  </footer>

</body>

</html>